@charset "utf-8";

*{margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}

html{-webkit-text-size-adjust:none;-webkit-touch-callout:none;/* -webkit-user-select:none;*/-webkit-tap-highlight-color:rgba(0,0,0,0);}
body{position:relative;overscroll-behavior:contain;line-height:1.5;font-family:"Roboto", "Noto Sans KR";font-weight:400;word-break:keep-all;color:#000;}/* chrome, safari에서 pull to refresh 안되게. 만약 계속 된다면 부모태그(html)에 overflow:hidden 추가 */
img,fieldset{line-height:0;vertical-align:middle;}
img{width:100%;image-rendering:crisp-edges;image-rendering:optimizeQuality;image-rendering:-webkit-optimize-contrast;object-fit:contain;}
ul,ol{list-style:none;}
a{display:inline-block;text-decoration:none;}
a,span,strong{font-size:inherit;font-weight:inherit;font-family:inherit;color:inherit;line-height:inherit;}
a,button,label,input,select,textarea,span{outline:none;}
button{background-color:transparent;border:none;cursor:pointer;}
button>*{pointer-events:none;}
button::-moz-focus-inner{padding:0;border:0;}
legend{position:fixed;left:-700rem;}
table{width:100%;border-collapse:collapse;border-spacing:0;}
caption,legend,.hidden,.blind{margin:-1px;position:absolute!important;clip:rect(0,0,0,0);width:1px;height:1px;overflow:hidden;}
caption{width:0;height:0;font-size:0;line-height:0;visibility:hidden;}
th,td{vertical-align:middle;text-align:center;}

select,textarea,pre,button,input{font-size:16px;font-family:"Roboto", "Noto Sans KR";line-height:1.5;color:#000;}
select,textarea,iframe,img,fieldset{border:none;}
select{width:100%;height:100%;-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;appearance:none;border:none;background-color:transparent;border-radius:0;}
select::-ms-expand{display:none;}
textarea{text-align:left;resize:none;}
textarea::placeholder{color:#d7d7d7;}
textarea:-ms-input-placeholder{color:#d7d7d7!important;}
button::-moz-focus-inner{padding:0;border:0;}
label{cursor:pointer;}

input::-ms-clear{display:none;}
input:-ms-clear{display:none;}
input::-ms-reveal{display:none;}
input:-ms-reveal{display:none;}
input[type="number"]{-moz-appearance:textfield;}
input[type="number"]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0;}
input[type="number"]::-webkit-inner-spin-button{-webkit-appearance:none;margin:0;}
input[type=date]::-webkit-inner-spin-button{-webkit-appearance:none;display:none;}
input[type=date]::-webkit-calendar-picker-indicator{position:absolute;left:0;top:0;width:100%;height:100%;opacity:0;}
input{border:none;-webkit-appearance:none;appearance:none;border-radius:0;}
input[type="file"]{cursor:pointer;}​
.iphone input:disabled,.ipad input:disabled{-webkit-text-fill-color:#a5a8b7;opacity:1;}/* 아이폰에서 disabled 되었을 때 글자가 회색으로 바뀌는거 수정 */
input[readonly],input[disabled]{background-color:#f2f2f7;}
input[disabled]+label,.disabled{color:#cbcbcb!important;}
input::-webkit-input-placeholder{color:#cbcbcb;}
input:-moz-placeholder{color:#cbcbcb;}
input::-moz-placeholder{color:#cbcbcb;}
input:-ms-input-placeholder{color:#cbcbcb!important;}
input::placeholder{color:#cbcbcb;}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{display:none;}​
select:required:invalid{color:#cbcbcb;}
option[value=""][disabled]{display:none;}

header,footer,nav,aside,section,article,main,video,audio,canvas{display:block;}
object,svg{width:100%;height:100%;pointer-events:none;}

hr{display:none;}

/* 가로/세로 가운데 정렬(ie제외) */
.m_dflex{display:-webkit-flex!important;display:-moz-flex!important;display:-ms-flex!important;display:-o-flex!important;display:flex!important;-webkit-justify-content:center;-moz-justify-content:center;-ms-justify-content:center;-o-justify-content:center;justify-content:center;-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;-o-align-items:center;align-items:center;}

/* 가로/세로 가운데 정렬(ie9까지 포함) */
.m_centerpopbg{position:fixed;left:0;top:0;right:0;bottom:0;z-index:203;text-align:center;background-color:rgba(0,0,0,0.3);z-index:999;}
.m_centerpopbg:after{content:"";display:inline-block;height:100%;vertical-align:middle;}
.m_centerpopbg>div{margin:auto;position:relative;display:inline-block;width:20rem;height:20rem;vertical-align:middle;text-align:left;background-color:#fff;}

.m_ibarea{font-size:0;}
.m_ibarea>*{display:inline-block;vertical-align:top;}

.m_noact{pointer-events:none;}
span.l_img{display:inline-block;line-height:0;vertical-align:top;pointer-events:none;}

.ie9 body *,.ietxt{display:none;}
.ie9 .ietxt{margin-top:130px;display:block;text-align:center;color:#000;font-size:0.5rem;}

[v-cloak]{display:none;}

/* transition(vue name- ex:fade ) */
.fade-enter-active,.fade-leave-active{transition:opacity 0.25s cubic-bezier(.08,.51,.54,1);}
.fade-enter,.fade-leave-to{opacity:0;}


html{font-size:10px;}
/* @media screen and (max-width:414px){
  html{font-size:22px;}
}
@media screen and (max-width:375px){
  html{font-size:20px;}
}
@media screen and (max-width:360px){
  html{font-size:18px;}
} */
/* @media screen and (orientation:landscape){
  @-ms-viewport{width:;}
  @-o-viewport{width:;}
  @viewport{width:;}
} */

/* mobile */
/* @media  screen and (max-width:575px){}
@media  screen and (min-width:576px) and (max-width: 767px)  {} */

/* tablet */
/* @media  screen and (min-width: 768px) and (max-width: 1023px) {} */