html{overflow:hidden;}
main{height:calc(var(--vh, 1vh) * 100);overflow:hidden;}
.header{position:fixed;left:0;top:0;width:100vw;height:6.2rem;background-color:#fff;z-index:100;}
.header .logo{margin:0 2rem;width:11.8rem;line-height:6rem;}
.header .menu_btn{padding:1rem;position:absolute;right:1rem;top:0.9rem;width:4.4rem;height:4.4rem;font-size:0;}
.header .menu_btn img{position:absolute;left:1rem;top:1rem;width:2.4rem;transition:opacity 0.3s ease;}
.header .menu_btn img:nth-child(1){opacity:1;}
.header .menu_btn img:nth-child(2){opacity:0;}
.header .menu_btn.on{}
.header .menu_btn.on img:nth-child(1){opacity:0;}
.header .menu_btn.on img:nth-child(2){opacity:1;}

.flex_ac_jsb{display:flex;align-items:center;justify-content:space-between;}

.nav{position:fixed;left:0;top:6.2rem;width:100vw;height:calc(calc(var(--vh, 1vh) * 100) - 6.2rem);clip-path:polygon(0 0, 100% 0, 100% 0, 0 0);background-color:#fff;z-index:98;transition:clip-path 0.3s ease;overflow:hidden;}
.nav.on{clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%);}
.nav .menus{padding-top:2.9rem;display:flex;flex-direction:column;width:100%;}
.nav .btn_menu{padding-left:2rem;line-height:6rem;font-size:3.2rem;color:#1e1e1e;letter-spacing:-1.6px;font-weight:600;text-align:left;opacity:0;clip-path:polygon(0 0, 0 0, 0 100%, 0% 100%);transition:clip-path 0.5s linear, opacity 0.5s ease;}
.nav .btn_menu+.btn_menu{margin-top:0.6rem;}
.nav.on .btn_menu{opacity:1;clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);}
.nav.on .btn_menu:nth-child(1){}
.nav.on .btn_menu:nth-child(2){transition-delay:0.1s;}
.nav.on .btn_menu:nth-child(3){transition-delay:0.2s;}
.nav.on .btn_menu:nth-child(4){transition-delay:0.3s;}
.nav.on .btn_menu:nth-child(5){transition-delay:0.4s;}
.nav.on .btn_menu:nth-child(6){transition-delay:0.5s;}
.nav .langs{position:absolute;right:1.5rem;bottom:2.6rem;}
.nav .btn_lang{padding:0 1.1rem;position:relative;line-height:6rem;font-size:2.6rem;color:#aaa;letter-spacing:-0.7px;font-weight:300;transition:color 0.2s ease;}
.nav .btn_lang.on{color:#1e1e1e;font-weight:600;}
.nav .btn_lang+.btn_lang{margin-left:0.5rem;}
.nav .btn_lang+.btn_lang::before{content:"";margin:auto;position:absolute;left:0;top:-3px;bottom:0;width:1px;height:2.6rem;background-color:#1e1e1e;}

.side_dot{position:fixed;right:1.3rem;top:calc(var(--vh, 1vh) * 8);bottom:0;display:flex;flex-direction:column;justify-content:center;z-index:70;transition:top 0.2s ease;}
.side_dot .btn_dot{margin:0.5rem 0;position:relative;width:0.4rem;height:0.4rem;border:1px solid rgba(255,255,255,0.7);border-radius:50%;transition:background-color 0.2s ease;}
.side_dot .btn_dot.on{background-color:#fff;}
.side_dot .btn_dot::after{content:"";position:absolute;left:0;top:0;width:100%;height:100%;border-radius:50%;background-color:rgba(255,255,255,0.3);transform-origin:center;}
.side_dot .btn_dot.on::after{animation:0.8s scaleup infinite alternate;}
@-moz-keyframes scaleup {
	from{transform:scale(1);}
	to{transform:scale(5);}
}
@-webkit-keyframes scaleup {
	from{transform:scale(1);}
	to{transform:scale(5);}
}
@keyframes scaleup {
	from{transform:scale(1);}
	to{transform:scale(5);}
}
.blk.side_dot .btn_dot{border-color:rgba(30,30,30,0.7);}
.blk.side_dot .btn_dot.on{background-color:#121212;}
.blk.side_dot .btn_dot::after{background-color:rgba(18,18,18,0.3);}

.delio_link{position:fixed;right:10.2rem;bottom:-1px;display:flex;justify-content:center;width:15rem;height:6rem;line-height:6.3rem;font-size:1.4rem;color:#fff;font-weight:500;background-color:#1e1e1e;transform:rotate(90deg);transform-origin:right bottom;text-align:center;z-index:37;transition:width 0.3s ease, bottom 0.3s ease;;overflow:hidden;}
.delio_link span{margin-left:0.3rem;width:0;transition:width 0.3s ease;overflow:hidden;}
.delio_link:hover{width:20.5rem;}
.delio_link:hover span{width:5.2rem;}

.container{position:relative;transition:top 0.35s ease;}

.view_wrap{position:relative;width:100vw;height:calc(var(--vh, 1vh) * 100);}
.view_wrap .bgwrap{position:relative;width:100%;height:calc(var(--vh, 1vh) * 100);}
.view_wrap .bgwrap .bg{position:absolute;left:0;top:0;;width:100%;height:100%;background-repeat:no-repeat;background-position:center bottom;background-size:cover;transform:scale(1.05) rotate(0.01deg);opacity:0;transition:opacity 0.8s ease, transform 4s ease;}
.view_wrap .bgwrap .bg.on{z-index:9;opacity:1;transform:scale(1) rotate(0deg);}
.view_wrap .txtwrap{z-index:51;}
.view_wrap .txtarea{z-index:52;}

.view_wrap.v1 .bgwrap .bg{background-image:url(../image/m/bg_01-1@2x.webp);}
.scrolltxt{position:absolute;right:-2.7rem;bottom:7.8rem;line-height:2rem;font-size:1rem;color:#fff;letter-spacing:-0.5px;transform:rotate(90deg);transform-origin:left top;z-index:50;}
.scrolltxt::before, .scrolltxt::after{content:"";position:absolute;left:3.8rem;bottom:1.1rem;height:1px;}
.scrolltxt::before{content:"";width:6rem;background-color:rgba(255,255,255,0.5);}
.scrolltxt::after{content:"";background-color:#fff;animation:1.5s widthup infinite;}
@-moz-keyframes widthup {
	0%{width:0;}
	95%{width:6rem;}
	60%{opacity:1;}
	100%{opacity:0;}
}
@-webkit-keyframes widthup {
	0%{width:0;}
	95%{width:6rem;}
	60%{opacity:1;}
	100%{opacity:0;}
}
@keyframes widthup {
	0%{width:0;}
	95%{width:6rem;}
	60%{opacity:1;}
	100%{opacity:0;}
}

.v1 .txtwrap{position:absolute;left:2rem;bottom:calc(var(--vh, 1vh) * 2.8);opacity:0;transition:opacity 0.5s ease 0.4s, bottom 0.6s ease 0.4s;}
.v1 .txtwrap p{color:#fff;}
.v1 .txtwrap .title{line-height:3rem;font-size:1.8rem;font-weight:600;letter-spacing:-0.9px;}
.v1 .txtwrap .txt{margin-top:1rem;line-height:2.4rem;font-size:1.5rem;font-weight:300;letter-spacing:-0.75px;}
.v1.on .txtwrap{opacity:1;bottom:calc(var(--vh, 1vh) * 4.8);}

.view_wrap.v2 .bgwrap .bg{background-image:url(../image/m/bg_02@2x.webp);}
.v2 .txtarea{position:absolute;left:2rem;bottom:calc(var(--vh, 1vh) * 4);width:26.2rem;overflow:hidden;}
.v2 .title{line-height:4rem;font-size:1.8rem;color:#fff;letter-spacing:-0.9px;font-weight:600;}
.v2 .subj{margin-top:0.3rem;line-height:3.8rem;font-size:2.6rem;color:#fff;letter-spacing:-1.3px;font-weight:300;}
.v2 .txt{margin-top:0.8rem;line-height:2rem;font-size:1.2rem;color:#eee;letter-spacing:-0.65px;font-weight:300;}
.v2 .txtwrap{position:relative;top:calc(var(--vh, 1vh) * 2);opacity:0;transition:opacity 0.5s ease, top 0.6s ease;}
.v2 .txtwrap+.txtwrap{margin-top:1.7rem;padding:2rem 0 1.8rem;border-top:1px solid rgba(255,255,255,0.3);border-bottom:1px solid rgba(255,255,255,0.3);}
.v2 .cmt{padding-left:1.1rem;line-height:2rem;font-size:1.2rem;color:#eee;letter-spacing:-0.6px;font-weight:300;text-indent:-1.1rem;}
.v2 .cmt+.cmt{margin-top:0.6rem;}
.v2 .reser_txt{line-height:3.2rem;font-size:1.2rem;color:#fff;letter-spacing:-0.6px;font-weight:600;}
.v2 .reser_info{display:flex;align-items:center;font-weight:300;}
.v2 .tel, .v2 .email{line-height:3.2rem;font-size:1.2rem;color:#eee;letter-spacing:-0.6px;}
.v2 .email{margin-right:0.2rem;margin-left:0.6rem;padding-left:0.6rem;position:relative;}
.v2 .email::before{content:"";position:absolute;left:0;top:1.1rem;width:1px;height:1rem;background-color:#eee;}
.v2 .txtwrap.flex_ac_jsb{margin-top:1.3rem;padding:0;border-top:none;border-bottom:none;}
.v2.on .txtwrap{opacity:1;top:0;}
.v2.on .txtwrap:nth-child(1){transition-delay:0.3s;}
.v2.on .txtwrap:nth-child(2){transition-delay:0.5s;}
.v2.on .txtwrap:nth-child(3){transition-delay:0.7s;}

.view_wrap.v3 .bgwrap .bg{background-image:url(../image/m/bg_03@2x.webp);}
.v3 .txtarea{position:absolute;left:2rem;bottom:calc(var(--vh, 1vh) * 4);width:29rem;overflow:hidden;}
.v3 .title{line-height:4rem;font-size:1.8rem;color:#fff;letter-spacing:-0.9px;font-weight:600;}
.v3 .subj{margin-top:0.1rem;line-height:3.8rem;font-size:2.6rem;color:#fff;letter-spacing:-1.4px;font-weight:300;font-family:"Noto Sans KR";}
.v3 .txt{margin-top:0.9rem;line-height:2rem;font-size:1.2rem;color:#eee;letter-spacing:-0.6px;font-weight:300;}
.v3 .txtwrap{position:relative;top:calc(var(--vh, 1vh) * 2);opacity:0;transition:opacity 0.5s ease, top 0.6s ease;}
.v3 .txtwrap+.txtwrap{margin-top:1.6rem;padding:1.8rem 0 1.7rem;border-top:1px solid rgba(255,255,255,0.3);border-bottom:1px solid rgba(255,255,255,0.3);}
.v3 .sec_title{line-height:2.4rem;font-size:1.2rem;color:#fff;letter-spacing:-0.6px;font-weight:600;}
.v3 .noti_box{margin:0.5rem 0 0;}
.v3 .noti_box li{display:flex;align-items:center;}
.v3 .noti_box li+li{margin-top:0.2rem;}
.v3 .noti_box .notilink{flex:1;line-height:2rem;font-size:1.2rem;color:#eee;letter-spacing:-0.6px;font-weight:300;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.v3 .noti_box .date{width:11rem;line-height:2rem;font-size:1.2rem;color:#bbb;letter-spacing:-0.6px;font-weight:300;text-align:right;}
.v3 .txtwrap.flex_ac_jsb{margin-top:1.5rem;padding:0;border-top:none;border-bottom:none;}
.v3 .txtwrap.flex_ac_jsb .p_txt{line-height:3.2rem;font-size:1.2rem;color:#fff;letter-spacing:-0.6px;font-weight:600;}
.v3 .txtwrap.flex_ac_jsb .p_email{line-height:3.2rem;font-size:1.2rem;color:#eee;letter-spacing:-0.6px;font-weight:300;}
.v3.on .txtwrap{opacity:1;top:0;}
.v3.on .txtwrap:nth-child(1){transition-delay:0.3s;}
.v3.on .txtwrap:nth-child(2){transition-delay:0.5s;}
.v3.on .txtwrap:nth-child(3){transition-delay:0.7s;}

.view_wrap.v4 .bgwrap .bg{background-image:url(../image/m/bg_04@2x.webp);}
.v4 .txtarea{position:absolute;bottom:calc(var(--vh, 1vh) * 9);display:flex;flex-direction:column;align-items:center;width:100vw;text-align:center;}
.v4 .txtarea .txtbg{margin-top:3.7rem;}
.v4 .txtarea .title{line-height:4rem;font-size:1.8rem;color:#fff;letter-spacing:-0.9px;font-weight:600;}
.v4 .txtarea .subj{margin-top:0.3rem;line-height:3.8rem;font-size:2.6rem;color:#fff;letter-spacing:-1.3px;font-weight:300;}
.v4 .txtarea .cmt{margin-top:0.7rem;line-height:2rem;font-size:1.2rem;color:#eee;letter-spacing:-0.6px;font-weight:300;}
.v4 .txtinfo, .v4 .txtwrap{position:relative;top:calc(var(--vh, 1vh) * 2);opacity:0;transition:opacity 0.5s ease, top 0.6s ease;}
.v4 .txtarea .txtwrap+.txtwrap{margin-top:2.7rem;}
.v4 .txtarea .txtwrap img{margin:auto;width:2rem;}
.v4 .txtarea .txtwrap .txt{margin-top:0.5rem;line-height:2rem;font-size:1.2rem;color:#eee;letter-spacing:-0.6px;font-weight:300;}
.v4 .txtarea .txtwrap .txt.b{margin-top:0.4rem;font-weight:600;}
.v4 .txtarea .txtwrap .p_email{margin-top:0.4rem;line-height:2rem;font-size:1.2rem;color:#eee;letter-spacing:-0.6px;font-weight:300;}
.v4.on .txtinfo{opacity:1;top:0;transition-delay:0.3s;}
.v4.on .txtwrap{opacity:1;top:0;}
.v4.on .txtwrap:nth-child(1){transition-delay:0.5s;}
.v4.on .txtwrap:nth-child(2){transition-delay:0.7s;}
.v4.on .txtwrap:nth-child(3){transition-delay:0.9s;}
.v4.on .txtwrap:nth-child(4){transition-delay:1.1s;}

.view_wrap.v5 .bgwrap .bg{background-image:url(../image/m/bg_05@2x.webp);}
.v5 .txtarea{position:absolute;bottom:calc(var(--vh, 1vh) * 9);display:flex;flex-direction:column;align-items:center;width:100vw;text-align:center;}
.v5 .txtarea .title{line-height:4rem;font-size:1.8rem;color:#fff;letter-spacing:-0.9px;font-weight:600;}
.v5 .txtarea .subj{margin-top:0.3rem;line-height:3.8rem;font-size:2.6rem;color:#fff;letter-spacing:-1.3px;font-weight:300;}
.v5 .txtarea .cmt{margin-top:0.7rem;line-height:2rem;font-size:1.2rem;color:#eee;letter-spacing:-0.6px;font-weight:300;}
.v5 .txtarea .txtbg{margin-top:3.7rem;}
.v5 .txtinfo, .v5 .txtwrap{position:relative;top:calc(var(--vh, 1vh) * 2);opacity:0;transition:opacity 0.5s ease, top 0.6s ease;}
.v5 .txtarea .txtwrap+.txtwrap{margin-top:1.7rem;}
.v5 .txtarea .txtwrap img{margin:auto;width:2rem;}
.v5 .txtarea .txtwrap .txt{margin-top:0.5rem;line-height:2rem;font-size:1.2rem;color:#eee;letter-spacing:-0.6px;font-weight:300;}
.v5 .txtarea .txtwrap .txt.b{margin-top:0.5rem;font-weight:600;}
.v5 .txtarea .txtwrap .txt.b+.txt{margin-top:1.5rem;line-height:2.4rem;}
.v5 .txtarea .txtwrap .infoarea{margin-top:0.2rem;display:flex;align-items:center;justify-content:center;}
.v5 .txtarea .txtwrap .infoarea .txt{margin:0;}
.v5 .txtarea .txtwrap .p_email{margin-left:0.8rem;padding-left:1.3rem;position:relative;line-height:2rem;font-size:1.2rem;color:#eee;letter-spacing:-0.6px;font-weight:300;}
.v5 .txtarea .txtwrap .p_email::before{content:"";position:absolute;left:0;top:0.4rem;width:1px;height:1.2rem;background-color:#eee;}
.v5 .txtarea .link{margin-top:1rem;display:flex;align-items:center;justify-content:center;line-height:2rem;font-size:1.2rem;color:#fff;letter-spacing:-0.6px;font-weight:600;}
.v5 .txtarea .link img{margin:0 -0.8rem 0 0.2rem;width:auto;}
.v5.on .txtinfo{opacity:1;top:0;transition-delay:0.3s;}
.v5.on .txtwrap{opacity:1;top:0;}
.v5.on .txtwrap:nth-child(1){transition-delay:0.5s;}
.v5.on .txtwrap:nth-child(2){transition-delay:0.7s;}
.v5.on .txtwrap:nth-child(3){transition-delay:0.9s;}
.v5.on .txtwrap:nth-child(4){transition-delay:1.1s;}

.view_wrap.v6{}
.v6 .txtarea{position:absolute;bottom:calc(var(--vh, 1vh) * 70);right:2rem;opacity:0;transition:opacity 0.5s ease 0.4s, bottom 0.6s ease 0.4s;}
.v6 .title{line-height:4rem;font-size:1.8rem;color:#1e1e1e;letter-spacing:-0.9px;font-weight:600;text-align:right;}
.v6 .addr{margin-top:0.1rem;line-height:2rem;font-size:1.2rem;color:#1e1e1e;letter-spacing:-0.6px;font-weight:300;text-align:right;}
.v6 .maparea{position:absolute;left:0;bottom:10rem;width:100vw;height:35rem;background-color:rgba(0,0,0,0.4);clip-path:circle(0% at 50% 45%);transition:clip-path 0.6s linear;}
.v6 .maps{position:relative;}
.v6 .maps iframe{position:absolute;left:50%;transform:translateX(-50%);}
.v6 .maps a{}
.v6 .footer{position:fixed;left:0;bottom:-10rem;display:flex;flex-direction:column;align-items:center;justify-content:center;width:100vw;height:10rem;background-color:#333;transition:bottom 0.3s ease;z-index:99;}
.v6 .footer .im{margin-top:0.6rem;}
.v6 .footer .im img{width:5.8rem;}
.v6 .footer .copyright{margin-top:0.6rem;line-height:2.6rem;font-size:1.2rem;color:#ddd;letter-spacing:-0.6px;font-weight:300;}
.v6.on .txtarea{opacity:1;bottom:calc(var(--vh, 1vh) * 74.2);transition-delay:0.3s;}
.v6.on .footer{bottom:0;}
.v6.on.show .maparea{clip-path:circle(80% at 50% 45%);}


.en .nav .menus{padding-top:2.3rem;}
.en .nav .btn_menu{line-height:5.6rem;font-size:3rem;letter-spacing:-1.5px;}
.en .nav .btn_menu+.btn_menu{margin-top:0.3rem;}

.en .v1 .txtwrap .title{line-height:2.8rem;}
.en .v1 .txtwrap .txt{line-height:2.2rem;font-size:1.4rem;letter-spacing:-0.7px;}

.en .v2 .txtarea{width:28rem;}
.en .v2 .title{font-size:1.4rem;letter-spacing:-0.7px;}
.en .v2 .subj{margin-top:0;line-height:3rem;font-size:2.2rem;letter-spacing:-1.1px;}
.en .v2 .txt{margin-top:1.2rem;letter-spacing:-0.6px;}
.en .v2 .reser_txt{line-height:2rem;}
.en .v2 .txtwrap.flex_ac_jsb{padding-top:0.6rem;padding-right:0.5rem;align-items:flex-start;}
.en .v2 .txtarea{bottom:calc(var(--vh, 1vh) * 4.8);}
.en .v2 .tel, .en .v2 .email{line-height:1.9rem;}
.en .v2 .email::before{top:0.5rem;height:0.8rem;}
.en .v2 .cmt+.cmt{margin-top:0.8rem;}

.en .v3 .txtarea{bottom:calc(var(--vh, 1vh) * 4.4);}
.en .v3 .title{font-size:1.4rem;letter-spacing:-0.7px;}
.en .v3 .subj{line-height:3rem;font-size:2.2rem;letter-spacing:-1.1px;font-family:"Roboto";}
.en .v3 .txt{margin-top:1.2rem;}
.en .v3 .txtarea{width:30rem;}
.en .v3 .txtwrap+.txtwrap{padding-right:0.5rem;}
.en .v3 .txtwrap.flex_ac_jsb{margin-top:1.8rem;padding-top:1.4rem;border-top:1px solid rgba(255,255,255,0.3);}

.en .v4 .txtarea{bottom:calc(var(--vh, 1vh) * 10)}
.en .v4 .txtarea .title{font-size:1.4rem;letter-spacing:-0.7px;}
.en .v4 .txtarea .subj{margin-top:-0.3rem;font-size:2.2rem;letter-spacing: -1.1px;}
.en .v4 .txtarea .txtwrap .p_email{margin-top:0.3rem;}
.en .v4 .txtarea .txtbg{margin-top:4.7rem;}

.en .v5 .txtarea{bottom:calc(var(--vh, 1vh) * 12.6);}
.en .v5 .txtarea .title{font-size:1.4rem;letter-spacing:-0.7px;}
.en .v5 .txtarea .subj{margin-top:-0.3rem;font-size:2.2rem;letter-spacing:-1.1px;}
.en .v5 .txtarea .txtbg{margin-top:4.7rem;}
.en .v5 .txtarea .txtwrap+.txtwrap{margin-top:2.7rem;}
.en .v5 .txtarea .txtwrap .p_email{padding-left:0.8rem;}
.en .v5 .txtarea .txtwrap .p_email::before{top:0.5rem;height:1rem;}
.en .v5 .txtarea .link img{position:relative;left:0.5rem;top:-0.1rem;}

.en .v6 .txtarea{bottom:calc(var(--vh, 1vh) * 68);right:2.1rem;}
.en .v6.on .txtarea{bottom:calc(var(--vh, 1vh) * 72.5);}
.en .v6 .title{font-size:1.4rem;letter-spacing:-0.7px;}
.en .v6 .addr{margin-top:-0.4rem;}